/*noinspection CssUnknownTarget*/
@import "tailwindcss";

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: white;
    @apply bg-[#0a1424] text-white;
    background: radial-gradient(circle at 50% 35%,
    #2a4d7a 0%, /* светлая точка */ #1a2e4a 60%, /* мягкий глубокий синий */ #0a1424 95%, /* основной тёмный */ #050a14 100% /* край */
    );

    background-attachment: fixed;
}

/* Навигация — красивые hover эффекты */
.nav-link {
    color: #dbeafe; /* светло-голубой */
    position: relative;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: white;
}

/* Линия снизу при наведении */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 0%;
    background: #60a5fa;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

/* Кнопки языков */
.lang-btn {
    padding: 6px 12px;
    background: white;
    color: black;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s;
}

.lang-btn:hover {
    background: #f3f4f6;
}

/* Активная кнопка языка */
.lang-active {
    background: #60a5fa !important;
    color: white !important;
}

.star-bg {
    background-image: radial-gradient(2px 2px at 20% 30%, rgba(255, 255, 255, 0.25), transparent),
    radial-gradient(2px 2px at 80% 70%, rgba(255, 255, 255, 0.2), transparent),
    radial-gradient(2px 2px at 50% 90%, rgba(255, 255, 255, 0.15), transparent),
    radial-gradient(1.5px 1.5px at 10% 80%, rgba(255, 255, 255, 0.2), transparent),
    radial-gradient(1.5px 1.5px at 90% 20%, rgba(255, 255, 255, 0.2), transparent);
}